@import '../../../../scss/variables';

.app-product-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .image-container {
    flex-basis: 70%;
    max-height: $app-max-height;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-container {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 40px;

    hr {
      margin: 0;
    }

    .close-btn {
      position: absolute;
      right: 40px;
      top: 40px;
    }

    .inner-content {
      .title-price-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        h3 {
          color: $cabify-black;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          margin: 0;

          &:last-of-type {
            text-align: right;
          }
        }
      }

      .description {
        min-height: 160px;
        color: $cabify-black;
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
      }

      .product-code {
        color: $cabify-gray;
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
      }

      .btn-container {
        margin-top: 40px;
      }
    }
  }
}
