@import 'variables';

.App {
  > *:not(router-outlet) {
    width: 100%;
    height: 100%;
  }
}

.btn-container {
  display: flex;

  .btn {
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}

.btn {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

.close-btn {
  color: $cabify-gray;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:before,
  &:after {
    content: ' ';
    background-color: $cabify-gray;
    width: 2px;
    height: 24px;
    position: absolute;
    left: 15px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before,
    &:after {
      background-color: $cabify-black;
    }
  }
}
