<div class="app-checkout">

  <section class="products">
    <h1 class="main">Shopping cart</h1>
    <ul class="products-list tableHead">
      <li class="products-list-title row">
        <div class="col-product">Product details</div>
        <div class="col-quantity">Quantity</div>
        <div class="col-price">Price</div>
        <div class="col-total">Total</div>
      </li>
    </ul>
    <ul class="products-list">
      <ng-container *ngFor="let product of productService.getAllProducts()">
        <app-checkout-product [product]="product"></app-checkout-product>
      </ng-container>
    </ul>
  </section>
  <aside class="summary">
    <h1 class="main">Order Summary</h1>
    <ul class="summary-items wrapper border">
      <li>
        <span class="summary-items-number">{{productService.checkout.totalItems()}} Items</span>
        <span class="summary-items-price">{{productService.checkout.totalWithoutDiscounts()}}<span class="currency">€</span></span>
      </li>
    </ul>
    <div *ngIf="productService.checkout.getDiscountsApplied().length > 0"
         class="summary-discounts wrapper-half border">
      <h2>Discounts</h2>
      <ul>
        <li *ngFor="let discount of productService.checkout.getDiscountsApplied()"><span>{{discount.label}}</span><span>-{{discount.amount}}€</span></li>
      </ul>
    </div>
    <div class="summary-total wrapper">
      <ul>
        <li>
          <span class="summary-total-cost">Total cost</span><span class="summary-total-price">{{productService.checkout.total()}}€</span>
        </li>
      </ul>
      <button type="submit">Checkout</button>
    </div>
  </aside>
</div>
